<%- include("template/cabecera", {tituloWeb: 'Nueva Medicina'}) %>
<div class="container">
  <h2>Crear nueva Medicina</h2>
  <form action="/medicina" class="my-2" method="POST">
    <input type="number" placeholder="Id" class="form-control my-2" name="id" />
    <input
      type="text"
      placeholder="Nombre"
      class="form-control my-2"
      name="nombre"
    />
    <input
      type="text"
      placeholder="Genotipo"
      class="form-control my-2"
      name="tipo"
    />
    <input
      type="text"
      placeholder="Descripción"
      class="form-control my-2"
      name="descripcion"
    />
    <input
      type="text"
      placeholder="Floración"
      class="form-control my-2"
      name="floracion"
    />
    <input
      type="text"
      placeholder="THC"
      class="form-control my-2"
      name="thc"
    />
    <button type="submit" class="btn btn-dark">Agregar</button>
  </form>
</div>
<%- include("template/footer") %>
